#container-mid {
  display: flex;
  margin-top: -25px;
  margin-bottom: 25px;
}
#form-service {
  margin-left: 55px;
}
.style__formOuterContainer___12WXq {
  padding-bottom: 5px;
}
.similar-homes-container > h1 {
  margin-left: 25%;
  margin-bottom: 10px;
}
.styles__containerTop___3ChHD {
  flex-direction: column-reverse !important;
}
#map-results {
  display: flex;
  flex-direction: column;
}
#mainContainer {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(60, 60, 60, 0.5);
  z-index: 100000;
  display: none;
}
.bigBOX {
  margin: auto;
  display: flex;
  position: relative;
}
.xOut {
  position: absolute;
  z-index: 1000;
  left: 90%;
}
.styles__containerMain___lRtqU {
  margin: 0 !important;
  width: 100% !important;
}
.styles__containerCalculator___rIxcP {
  margin-bottom: 10px;
}
.styles__seeMore___3XRTO {
  margin-bottom: 20px !important;
}
.xOut > svg {
  width: 20px;
  height: 20px;
  margin-left: 5px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  fill: black;
  stroke: black;
}
.style__similarHomesSeeAll__1uP5n {
  margin-left: 35%;
}
.style__similarHomesSlidesContainer__lQ0TP {
  flex-direction: column;
}
#popContainer {
  height: 100%;
  background-color: white;
  opacity: 1;
  width: 100%;
  z-index: 100;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-top: -5px;
}
#gendesc {
  margin-left: 5px;
}
#results {
  width: 100%;
}
.googleMapContainer {
  width: 100% !important;
}
.style__results-more-filters-dd__3tk6K {
  left: 87.5% !important;
}
.style__homeOptionContainer___3dhcI {
  position: absolute;
  margin-top: 50px;
}
.style__results-container__142a4 {
  max-height: 85vh;
}
.style__superNavAgentModal___SDwvO,
.style__superNavLoansModal___2Dfr0,
.style__superNavSellModal___1wRXN,
.style__superNavRentModal___1fwB8,
.style__superNavBuyModal___qCIeR {
  margin-left: -12px;
  margin-top: -11px;
}
.containerMid {
  display: flex;
  flex-direction: column;
}
