#container-mid {
  display: flex;
  margin-top: -25px;
  margin-bottom: 25px;
}
#form-service {
  margin-left: 70px;
}
.style__formOuterContainer___12WXq {
  padding-bottom: 5px;
}
.similar-homes-container > h1 {
  margin-left: 25%;
  margin-bottom: 10px;
}
.styles__containerTop___3ChHD {
  justify-content: space-between;
}
